*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

::placeholder {
  color: inherit;
  opacity: 0.75;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 360px;
}

html,
body,
main {
  overflow: hidden;
}

main { 
  min-width: 320px;
  position: fixed; 
  inset: 0; 
  pointer-events: none;
}

:root {
  --base-transition-duration: 0.25s;
  --text-color: #2d2e32;
  --text-color-secondary: #555;
  --text-color-tertiary: #000;
  --contrast-text-color: #fff;
}

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /* maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /* modern browsers, clip-path works inwards from each corner */
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.visually-hidden.hidden {
  display: none;
}

.lcp-text {
  opacity: 0.01;
  font-size: 1px;
  position: absolute;
}

.skip-link {
  position: absolute;
  translate: 0 -9999px;
  background-color: rgba(0, 0, 0, 0.72);
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 10;
}

.skip-link:focus {
  translate: 0;
}

.portrait-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  z-index: 100;
  text-align: center;
  font-size: 1.2rem;
}

.portrait-overlay.active {
  display: flex;
}

.portrait-overlay.active ~ .ui-container .toggle-menu-btn {
  pointer-events: none;
}

.ui-container {
  margin: 0 auto;
  max-width: 1920px; 
  position: absolute;
  inset: 0;
}

.webgl {
  position: fixed;
  outline: none;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Reusable classes */

.slide-in-and-out,
.slide-in-and-back,
.slide-middle-out,
.appear-bg-from-center {
  position: relative;
  z-index: 1;
}

.appear-bg-from-center {
  overflow: hidden;
}

.slide-in-and-out::after,
.slide-in-and-out.underline::before,
.slide-in-and-back::after,
.slide-in-and-back.underline::before,
.slide-middle-out::after,
.slide-middle-out.underline::before,
.appear-bg-from-center::after  {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1em;
  background-color: currentColor;
  border-radius: 2px;
  transform: scaleX(0);
}

/* Makes sure the underline does not become too thin at small font sizes */
.slide-in-and-out.fixed-height::after,
.slide-in-and-out.underline.fixed-height::before,
.slide-in-and-back.fixed-height::after,
.slide-in-and-back.underline.fixed-height::before,
.slide-middle-out.fixed-height::after,
.slide-middle-out.underline.fixed-height::before {
  height: 3px;
}

.slide-in-and-out::after,
.slide-in-and-back::after,
.slide-middle-out::after,
.appear-bg-from-center::after {
  transition: transform 0.3s, opacity 0.5s, background-color var(--base-transition-duration);
  will-change: transform;
}

.slide-in-and-out::after {
  transform-origin: right;
}

.slide-in-and-back::after {
  transform-origin: left;
}

.slide-middle-out::after {
  transform-origin: center;
}

.appear-bg-from-center::after {
  background-color: #eceff3;
  z-index: -1;
  inset: 0;
  height: 100%;
  transform: scale(0);
  opacity: 0;
}

.appear-bg-from-center.rounded {
  border-radius: 50%;
}

.appear-bg-from-center.rounded::after {
  border-radius: 50%;
}

.slide-in-and-out.underline::before,
.slide-in-and-back.underline::before,
.slide-middle-out.underline::before {
  transform: scaleX(1);
  opacity: 0.3;
}

.slide-button {
  position: relative;
  overflow: hidden;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration), padding 0.25s;
  will-change: padding;
}

.slide-button::after {
  content: "";
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  background-color: currentColor;
  transition: right 0.25s;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.slide-button.garment-info-panel__view-more-btn::after {
  mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22m3.97%2014.812l.65-.393a3%203%200%200%200%201.258-1.41l2.425-5.615a1.6%201.6%200%200%201%20.353-.51c.641-.615%201.75-.355%202.288.351c.994%201.303-.341%202.536-.059%203.623l7.754-4.355c1.804-.972%203.362%201.611%201.569%202.804l-4.59%202.55c.884%201.153%203.126%206.746.253%208.452a2.4%202.4%200%200%201-.526.217l-.35.109c-.901.28-2.606.634-3.774.532c-1.216-.106-1.978.542-2.918%201.082M14.647%204.72c-.397.397-2.125.283-2.763.203m2.763-.202c.398-.397.409-2.333.33-2.969m-.33%202.969C13.625%202.949%209.562.123%205.53%202.949C3.58%204.315%203.306%205.175%202.998%205.752%22%20%2F%3E%3C%2Fsvg%3E") no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.5%22%20d%3D%22m3.97%2014.812l.65-.393a3%203%200%200%200%201.258-1.41l2.425-5.615a1.6%201.6%200%200%201%20.353-.51c.641-.615%201.75-.355%202.288.351c.994%201.303-.341%202.536-.059%203.623l7.754-4.355c1.804-.972%203.362%201.611%201.569%202.804l-4.59%202.55c.884%201.153%203.126%206.746.253%208.452a2.4%202.4%200%200%201-.526.217l-.35.109c-.901.28-2.606.634-3.774.532c-1.216-.106-1.978.542-2.918%201.082M14.647%204.72c-.397.397-2.125.283-2.763.203m2.763-.202c.398-.397.409-2.333.33-2.969m-.33%202.969C13.625%202.949%209.562.123%205.53%202.949C3.58%204.315%203.306%205.175%202.998%205.752%22%20%2F%3E%3C%2Fsvg%3E") no-repeat;
}

@media screen and (pointer: fine) and (hover: hover) {
  .slide-in-and-out:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .slide-in-and-back:is(:hover, :focus-visible)::after,
  .slide-middle-out:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
  }

  .appear-bg-from-center:is(:hover, :focus-visible)::after {
    transform: scale(1);
    opacity: 1;
  }

  .slide-button:is(:hover, :focus-visible) {
    padding: 12px 55px 12px 25px;
    transition: background-color 0.15s, padding 0.4s;
  } 

  .slide-button:is(:hover, :focus-visible)::after {
    right: 15px;
    transition: right 0.4s;
  }
}

/* End of reusable classes */

/* UI buttons*/

.toggle-menu-btn,
.garment-menu-btn,
.return-to-garment-panel-btn {
  pointer-events: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  transition: background-color var(--base-transition-duration);
}

.garment-menu-btn {
  pointer-events: auto;
  right: 10px;
  top: 62px;
  display: none;
}

.return-to-garment-panel-btn {
  pointer-events: auto;
  display: none;
  left: 10px;
  right: auto;
}

.garment-menu-btn.active,
.return-to-garment-panel-btn.active {
  display: inline-block;
}

.toggle-menu-btn svg,
.garment-menu-btn svg,
.return-to-garment-panel-btn svg {
  width: 1.5rem;
  display: block;
  color: inherit;
}

.clone-view-helper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  display: none;
  font-weight: 500;
  user-select: none;
}

.clone-view-helper svg {
  width: 2rem;
}

.clone-view-helper__hand,
.clone-view-helper__mouse {
  display: none;
}

.clone-view-helper__hand.active,
.clone-view-helper__mouse.active {
  display: block;
}

.clone-view-helper.active {
  display: flex;
}

/* Enf of UI buttons */

/* App menu */

.info-menu,
.garment-menu {
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  inset: 0;
  transform: translateX(-100vw);
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  display: none;
  font-size: 1rem;
  opacity: 0;
}

.info-menu.active,
.garment-menu.active {
  transform: translateX(0);
  opacity: 1;
}

.info-menu__ui-limits,
.garment-menu__ui-limits {
  margin: 0 auto;
  max-width: 1920px; 
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
  padding: 20px;
}

.info-menu__close-btn,
.garment-menu__close-btn  {
  position: absolute;
  top: 27px;
  right: 37px;
  padding: 3px;
  line-height: 0;
}

.info-menu__close-icon,
.garment-menu__close-icon {
  width: 2rem;
  color: inherit;
}

.info-menu__desc {
  max-width: 500px;
  font-size: 1.2em;
  line-height: 1.6;
}

.info-menu__social-links-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.info-menu__social-link {
  display: block;
  line-height: 0;
  transition: color var(--base-transition-duration);
}

.info-menu__social-link svg {
  width: 2.1em;
  color: inherit;
}

.info-menu__freecodecamp-icon {
  width: 2.4em !important;
}

.info-menu__github-icon {
  width: 2.05em !important;
}

.info-menu__socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.info-menu__mailto-link {
  float: right;
  margin-top: 40px;
  font-size: 1.1em;
}

/* End of app menu */

/* Garment info menu */

.garment-menu__info-container p {
  max-width: 500px;
  font-size: 1.15em;
  line-height: 1.6;
  text-align: center;
  margin-top: 20px;
}

/* End of garment info menu */

/* Garment info panel */

.garment-info-panel {
  pointer-events: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.43);
  color: #fff;
  padding: 20px;
  border-radius: 3px;
  display: none;
  max-height: 90vh;
  scrollbar-width: thin;
  overflow: auto;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  margin: 30px;
}

.garment-info-panel.active {
  display: block;
}

.garment-info-panel__close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  color: inherit;
  opacity: 0.7;
  transition: opacity var(--base-transition-duration);
}

.garment-info-panel__close-btn-svg {
  width: 1.15rem;
  display: block;
}

.garment-info-panel__title {
  margin-bottom: 20px;
  font-size: 2.25rem;
  line-height: 1.25;
}

.garment-info-panel__description {
  line-height: 1.4;
  margin-bottom: 30px;
  font-size: 1.125rem;
}

.garment-info-panel__view-more-btn {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 25px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  transform: background-color var(--base-transition-duration);
}

/* End of garment info panel */

/* Garment slider */

.garment-slider__controls {
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
}

.garment-slider__control-btn {
  color: inherit;
  opacity: 0.6;
  transition: opacity var(--base-transition-duration);
}

.garment-slider__control-btn.active {
  opacity: 1;
}

.garment-slider__control-btn.active {
  cursor: default;
}

.garment-slider__control-btn-svg {
  width: 1.5rem;
  display: block;
}

.garment-slider {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.garment-slider__title {
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: 600;
}

.garment-slider__prev-btn,
.garment-slider__next-btn {
  color: inherit;
  transition: transform var(--base-transition-duration);
}

.garment-slider__prev-btn-svg,
.garment-slider__next-btn-svg {
  width: 2.5rem;
  display: block;
}

/* End of garment slider */

/* Garment gallery */

.garment-gallery {
  display: flex;
  gap: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.garment-gallery__photos-list {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: 2px solid white;
  user-select: none;
}

.garment-gallery__photo-container {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform 0.2s ease-in-out;
  aspect-ratio: 1 / 1;
}

.garment-gallery__nav {
  flex: 0 0 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  user-select: none;
}

.garment-gallery__thumb-container {
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

.garment-gallery__thumb-container .garment-gallery__thumb:not(.active) {
  cursor: pointer;
}

.garment-gallery__nav::-webkit-scrollbar {
  display: none;
}

.garment-gallery__photo,
.garment-gallery__thumb {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  -webkit-user-drag: none;
}

.garment-gallery__thumb {
  border: 2px solid transparent;
  border-radius: 3px;
  outline: none;  
}

.garment-gallery__thumb.remove-border {
  border: none;
}

.garment-gallery__thumb.active {
  border: 2px solid white;
}

.garment-gallery__thumb:focus {
  border: 2px solid white;
}

/* End of garment gallery */

/* Loaders */

.blur-img-loader {
  position: relative;
  background-size: cover;
  background-position: center;
}

.blur-img-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2s infinite ease-in-out alternate;
}

.blur-img-loader.loaded::before {
  content: none;
}

.blur-img-loader img {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  object-fit: cover;
  object-position: center;
}

.blur-img-loader.loaded img {
  opacity: 1;
}

@keyframes pulse {
  from {
    background-color: rgba(0, 0, 0 , 0.5);
  }
  to {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  display: flex;
  z-index: 1000;
  transition: background-color 2s;
}

.loading-overlay.hidden {
  background-color: transparent;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.dom-loader {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  animation: fade 2s infinite ease-in-out alternate;
  display: flex;
  justify-content: center;
}

.dom-loader::after {
  content: "";
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: spinLoader 1s ease infinite;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.4rem solid transparent;
  border-top-color: inherit;
}

.dom-loader.hidden {
  display: none;
}

@keyframes spinLoader {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}


@keyframes fade {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: rgba(255, 255, 255, 0.9);
  }
}

/* End of loaders */

/* Hover capable devices */

@media screen and (pointer: fine) and (hover: hover) {
  .garment-slider__prev-btn:is(:hover, :focus-visible),
  .garment-slider__next-btn:is(:hover, :focus-visible) {
    transform: scale(1.1);
  }

  .garment-info-panel__view-more-btn:is(:hover, :focus-visible) {
    background-color: rgba(0, 0, 0, 0.72);
  }

  .info-menu__social-link:is(:hover, :focus-visible) {
    color: #9A8CFF;
  }

  .toggle-menu-btn:is(:hover, :focus-visible),
  .garment-menu-btn:is(:hover, :focus-visible),
  .return-to-garment-panel-btn:is(:hover, :focus-visible) {
    background-color: rgba(0, 0, 0, 0.72);
  }

  .garment-info-panel__close-btn:is(:hover, :focus-visible) {
    opacity: 1;
  }

  .garment-slider__control-btn:is(:hover, :focus-visible) {
    opacity: 1;
  }
}

/* End of hover capable diveces */

/* Active */

.info-menu__close-btn:active svg,
.garment-menu__close-btn:active svg {
  opacity: 0.7;
}

.info-menu__social-link:active {
  opacity: 0.7;
}

/* End of active */

/* Media queries */

@media screen and (max-width: 500px) {
  .garment-info-panel {
    margin: 15px;
  }

  html {
    font-size: 15px;
  }

  .info-menu__close-btn,
  .garment-menu__close-btn  {
    top: 30px;
    right: 20px;
  }
}

@media screen and (max-height: 800px) and (min-width: 600px) {
  .garment-info-panel {
    max-height: 85vh;
  }

  .garment-info-panel.active {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 30px;
    max-width: 800px;
  }
}

@media screen and (max-height: 600px) {
  html {
    font-size: 15px;
  }
}

/* End of media queries */